<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<link href="/static/info.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
<body>
<!-- 헤더 파일 -->
<header class="header">
    {% include 'header.html' %}
</header>
<!-- 메인 -->
<div class="content">
    <div class="content-op">
    </div>
    <div class="content-in">
        <!-- font -->
        <div class="content-wrap">
            <div class="content-text">
                <p class="p-1">장난감</p>
            </div>
        </div>
    </div>
</div>
<div class="content-2">
    <div class="inner">
        <form name="goSearch" method="get" class="toySearch_" action="search">
            <input type="hidden" name="pagenumber" value="1">
            <input type="hidden" name="domain_seq_s">
            <input type="hidden" name="s_gb">
            <input type="hidden" name="prd_id">
            <input type="hidden" name="options" value="0">
    

            <div class="__schHead">
                <select id="domain_seq" name="domain_seq" class="__inp">
                    <option value="">장난감 종류</option>
                    <option value="다문화">다문화</option>
                    <option value="장애영유아">장애영유아</option>
                    <option value="라돈측정기">라돈측정기</option>
                    <option value="자동차">자동차 .동물모형</option>
                    <option value="음률">음률</option>
                    <option value="조작">조작놀이</option>
                    <option value="퍼즐">퍼즐.블럭</option>
                    <option value="신체">신체놀이</option>
                    <option value="역할">역할놀이</option>
                </select>
                <select id="years_seq" name="years_seq" class="__inp">
                    <option value="">사용연령</option>
                    <option value="0~1세">0개월 이상</option>
                    <option value="0~2세">6개월 이상</option>
                    <option value="3~5세">18개월 이상</option>
                    <option value="6세이상">6세 이상</option>
                    <option value="기타">기타</option>
                    <option value="전체연령">전체연령</option>
                </select>
                <select id="toy_status" name="toy_status" class="__inp">
                    <option value="">대여상태</option>
                        <option value="대여가능">대여 가능</option>
                        <option value="예약중">예약중</option>
                </select>
                <input type="text" class="__inp" placeholder="장난감 이름/등록 번호" name="searchString" value="">
                <button type="submit">검색</button>
            </div>

    
        </form>
        <!-- 장난감 정렬  -->
        <div class="__topArea line __mt40">
            <div class="lef">
                <div class="sort">
                    <a href="javascript:options_order('0')" class="active">최신순</a>
                    <a href="javascript:options_order('2')">조회순</a>
                </div>
            </div>
            <div class="rig">
                <div class="total">총 게시물 <span>{{ total_posts }}</span> 건</div>
            </div>
        </div>
        <!-- 장난감 상품 이미지 -->
        <div class="__toyList">
            {% for item in items %}
            <a href="{{ item['detail_url'] }}" class="box">
                <div class="img"><img src="{{ item['img_src'] }}" width="180" height="180"></div>
                <div class="info">
                    <div>
                        <span class="subject">{{ item['name'] }}</span>
                        <span class="age">{{ item['age'] }}</span>
                    </div>
                    <div class="state"><span class="__btn6 gray2">{{ item['status'] }}</span></div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- 푸터 파일 -->
<header class="footer">
    {% include 'footer.html' %}
</header>    
</body>
</html>